/*From Old Theme*/

/*botão rss*/
#article .blog-feed-link {
    position: relative;
    right: 0;
    top: 0;
}

/* Plugin para curtir artigos e comentários */
.pairwise-plugin_pairwise-content .vote-actions {
  display: none;
}

.action .dislike:before {
  content: url('../images/negative-hand.png');
}

.action .like:before {
  content: url('../images/positive-hand.png');
}

.action .vote-detail {
  width: 160px;
}

.vote-action .like-action-active .action-icon {
  opacity: 1;
}

#article .action .vote-detail li {
  padding: 0px;
}

.vote-action .action-icon {
  opacity: 0.5;
}

#article .action .action-icon {
  top: 3px;
}

#article .like-action .like-action-counter {
  color: #2A8C32;
}

#article .dislike-action .like-action-counter {
  color: #CC0000;
}

.vote-actions {
    position: relative;
    right: 0;
    top: 0;
}

#article .action .vote-detail li {
    display: inline-block;
    list-style-type: none;
    margin-bottom: 5px;
    margin-left: 0;
    text-align: left;
}

#article .action .vote-detail li a span{
    float: left;
    margin-left: 5px;
    width: 120px;
}
#article .action .vote-detail li a img {
	float: left;
}

